html {
    height: 100%;
}

body {
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: 0;

    /* This is probably done in order to scoll some element inside body */
    /* The same statement is used inside lib-admin-ui/global.less */
    overflow-y: hidden;
}

body > .lt-main-container {
    height: calc(100% - 44px);
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

h1 {
    font-size: 34px;
    line-height: 40px;
}

h2 {
    font-size: 30px;
    line-height: 40px;
}

h3 {
    font-size: 26px;
    line-height: 40px;
}

h4 {
    font-size: 22px;
    line-height: 20px;
}

h5 {
    font-size: 18px;
    line-height: 20px;
}

h6 {
    font-size: 14px;
    line-height: 16px;
}

html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
    margin: 0;
    padding: 0;
}

.app-button {
    height: 44px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.app-button:hover {
    opacity: 0.5;
}

.app-icon {
    width: 28px;
    height: 28px;
}

.app-title {
    padding-left: 10px;
}

.app-bar {
    color: #fff;

    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    text-transform: uppercase;

    width: 100%;
    height: 44px;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row no-wrap;
    -ms-flex-flow: row no-wrap;
    flex-flow: row no-wrap;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    padding: 0 10px 0 15px;
    background-color: #333;
    background-size: cover;
    text-align: center;
    overflow: hidden;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

.lt-button {
    width: auto;
    border: 0;
    font-family: "Open Sans", sans-serif;
    background-color: #dae0e1;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    padding: 4px 19px 4px 19px;
    margin: 0;
    border-radius: 4px;
    cursor: pointer;
}

.lt-button:hover {
    background-color: #d0d6d7;
}

.lt-button span {
    line-height: 18px;
    font-size: 14px;
    transition: color 0.2s ease-in-out;
    -moz-transition: color 0.2s ease-in-out;
    -webkit-transition: color 0.2s ease-in-out;
    -o-transition: color 0.2s ease-in-out;
    color: white;
}

.lt-button-shadow {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.lt-button-shadow:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.lt-appbarmiddle {
    -ms-flex-order: 2;
    -webkit-order: 2;
    order: 2;
    flex: 1;
    position: relative;
    left: -65px;
}

.lt-topbar-middle {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.lt-topbar-license {
    display: flex;
    flex-direction: column;
    justify-content: center;

    right: 30px;
    position: absolute;
    top: 12px;
    /*cursor: pointer;*/
}

.app-bar .lt-topbar-license {
    text-transform: none;
    color: ghostwhite;
}

.lt-sampling-button {
    background-color: #71BF41;
    padding: 14px 19px 14px 19px;
}

.lt-sampling-button:hover {
    background-color: #67b541;
}

.lt-sampling-stop-button {
    background-color: #f0a234;
    padding: 14px 19px 14px 19px;
}

.lt-sampling-stop-button:hover {
    background-color: #e69933;
}

.lt-sampling-clear-cnt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 20px;
    padding-left: 20px;
}

.lt-sampling-clear-button {
    background-color: #337ab7;
}

.lt-sampling-clear-button:hover {
    background-color: #337ab7;
}

.lt-main-container {
    font-size: 16px;

    display: flex;
    flex-direction: column;
    align-content: flex-start;
}

.lt-tabs {
    display: flex;
    align-content: flex-start;
    border-bottom: 1px solid #dadfe0;
    list-style-type: none;
    padding: 0;

    /*position: relative;*/
    /*overflow-x: auto;*/
    /*overflow-y: hidden;*/
    height: 45px;
    width: 100%;
    background-color: #fff;
    margin: 0 auto;
    white-space: nowrap;

    font-size: 14px;
    font-family: "Roboto", sans-serif;
    font-weight: normal;

    z-index: 150;
}

.lt-tab {
    display: flex;

    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    cursor: pointer;
}

.lt-tab.lt-tab-selected {
    border-bottom: 3px solid #50a8f9;
}

.lt-tab.lt-tab-selected a {
    color: #50a8f9;
}

.lt-tab:not(.lt-tab-selected):hover {
    cursor: pointer;
    border-bottom: 3px solid rgba(80, 168, 249, 0.40);
}

.lt-tab:not(.lt-tab-selected):hover a {
    color: #50a8f9;
}

.lt-tabs .lt-tab {
    display: inline-block;
    text-align: center;
    line-height: 48px;
    height: 44px;
    padding: 0;
    margin: 0;

    max-width: 150px;
}

.lt-tabs a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.lt-tabs .lt-tab a:hover, .lt-tabs .lt-tab a.active {
    color: #50a8f9;
}

.lt-tab-container {
    display: none;
    flex-direction: column;
    flex: 1;
}

.lt-tab-container.lt-tab-container-selected {
    display: flex;
}

.lt-http-toolbar {
    display: flex;
    align-content: flex-start;
    border-bottom: 1px solid #dadfe0;

    height: 48px;
    width: 100%;
    background-color: #fff;
    /*margin: 0 auto;*/
    /*white-space: nowrap;*/

    font-size: 14px;
    font-family: "Roboto", sans-serif;
    font-weight: normal;
}

.lt-http-toolbar .lt-button {
    margin-top: 7px;
    margin-bottom: 7px;
    margin-left: 12px;
}

.lt-http-toolbar .lt-button span {
    color: rgb(0, 0, 0);
}

.lt-http-toolbar .lt-button.lt-active {
    background-color: #50a8f9;
}

.lt-http-toolbar .lt-button.lt-active span {
    color: #fff
}

.lt-http-toolbar .lt-button:first-child {
    margin-left: 20px;
}

.lt-filter-url {
    float: right;
    width: 60%;
}

.lt-http-toolbar-right {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.lt-http-toolbar input {
    height: 24px;

    border-radius: 4px;
    box-shadow: none;
    box-sizing: content-box;
    border: 1px solid #ccc;
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    background-color: #FFF;
    display: block;

    margin-right: 20px;
}

.lt-request-label {
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: 15px;
    margin-right: 20px;
    white-space: nowrap;
}

.lt-panel {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    font-family: "Roboto", sans-serif;
    font-weight: normal;

    justify-content: center;
    align-items: center;
}

#samplingSeconds {
    text-transform: none;
    cursor: pointer;
}

.lt-http-shader {
    position: absolute;
    top: 90px;
    left: 0;
    width: inherit;
    height: inherit;
    background-color: black;
    opacity: 0.6;
    z-index: 100;
}

.lt-http-sampling {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    position: absolute;
    top: 90px;
    z-index: 150;
}

.lt-http-sampling-buttons {
    padding-bottom: 200px;
}

.lt-http-trace-warning-message {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    color: #999;
    padding-bottom: 200px;
}

.lt-http-trace-warning-message h2 {
    font-weight: normal;
    font-size: 1.8em;
    color: #CD5C5C;
}

.lt-http-trace-warning-message h3 {
    font-weight: normal;
    font-size: 1.3em;
}

.lt-http-trace-warning-message h4 {
    font-weight: normal;
    font-size: 1.2em;
    margin-top: 0;
    margin-bottom: 0;
}

.lt-http-trace-warning-message h4 span {
    font-weight: normal;
    font-family: monospace;
}

.shake {
    animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}

@keyframes shake {
    10%, 90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%, 80% {
        transform: translate3d(2px, 0, 0);
    }

    30%, 50%, 70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%, 60% {
        transform: translate3d(4px, 0, 0);
    }
}

.lt-http-requests {
    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: flex-start;

    flex: 1;
    height: 100%;
}

.lt-tasks {
    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: flex-start;

    flex: 1;
    height: 100%;
}

/* Trace Request table */

table.lt-http-req-table {
    width: 100%;
    height: 100%;

    border-collapse: separate;
    border-spacing: 2px;
}

table.lt-http-req-table th {
    text-align: center;
}

table.lt-http-req-table tr td {
    padding: 1px;
}

table.lt-http-req-table, table.lt-http-req-table tr td {
    /*border: 1px solid red;*/
    overflow-wrap: normal;
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

table.lt-http-req-table tbody {
    display: block;
    height: calc(100% - 24px);
    overflow: auto;

    /* This gives the http-requests-table vertical scrolling */
    overflow-y: scroll;
    overflow-x: hidden;

    border-top: 1px solid #dadfe0;
}

table.lt-http-req-table thead, table.lt-http-req-table tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}

table.lt-http-req-table thead {
    width: calc(100% - 1em);
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

table.lt-http-req-table tbody tr {
    font-size: 12px;

    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

table.lt-http-req-table tbody tr:hover {
    cursor: pointer;
}

table.lt-http-req-table tbody tr.lt-odd:hover {
    background-color: #dce2e9;
}

table.lt-http-req-table tbody tr.lt-even:hover {
    /*background-color: #f0f0f0;*/
    background-color: #dce2e9;
}

/*table.lt-http-req-table tbody tr.lt-odd {*/
/*background-color: #ecf2f9;*/
/*}*/

table.lt-http-req-table tbody tr.lt-http-request {
    font-size: 13px;
    color: #000000;
}

table.lt-http-req-table tbody tr.lt-http-request > td > a {
    color: #000000;
    text-decoration: none;
}

tr.lt-sub-header {

}

/* column widths */
table.lt-http-req-table th:nth-child(1), table.lt-http-req-table td:nth-child(1) {
    width: 10%;
}

table.lt-http-req-table th:nth-child(2), table.lt-http-req-table td:nth-child(2) {
    width: 10%;
}

table.lt-http-req-table th:nth-child(3), table.lt-http-req-table td:nth-child(3) {
    width: 32%;
}

table.lt-http-req-table th:nth-child(4), table.lt-http-req-table td:nth-child(4) {
    width: 15%;
}

table.lt-http-req-table th:nth-child(5), table.lt-http-req-table td:nth-child(5) {
    width: 5%;
}

table.lt-http-req-table th:nth-child(6), table.lt-http-req-table td:nth-child(6) {
    width: 8%;
}

table.lt-http-req-table th:nth-child(7) {
    width: 5%;
    font-size: 8px;
    padding-right: 4px;
}

table.lt-http-req-table th.lt-http-req-sub-time:nth-child(7) {
    width: 20%;
    font-size: 8px;
}

table.lt-http-req-table th:nth-child(8) {
    width: 5%;
    font-size: 8px;
    padding-right: 4px;
}

table.lt-http-req-table th:nth-child(9) {
    width: 5%;
    font-size: 8px;
    padding-right: 4px;
}

table.lt-http-req-table th:nth-child(10) {
    width: 5%;
    font-size: 8px;
    padding-right: 4px;
}

table.lt-http-req-table td:nth-child(7) {
    width: 20%;
}

/* column alignments */
table.lt-http-req-table td:nth-child(1) {
    text-align: left;
}

table.lt-http-req-table td:nth-child(2) {
    text-align: left;
}

table.lt-http-req-table td:nth-child(3) {
    text-align: left;
}

table.lt-http-req-table td:nth-child(4) {
    text-align: center;
}

table.lt-http-req-table td:nth-child(5) {
    text-align: right;
}

table.lt-http-req-table td:nth-child(6) {
    text-align: right;
}

table.lt-http-req-table th:nth-child(7) {
    text-align: right;
    border-left: 1px solid #dadfe0;
}

table.lt-http-req-table th:nth-child(8) {
    text-align: right;
    border-left: 1px solid #dadfe0;
}

table.lt-http-req-table th:nth-child(9) {
    text-align: right;
    border-left: 1px solid #dadfe0;
}

table.lt-http-req-table th:nth-child(10) {
    text-align: right;
    border-left: 1px solid #dadfe0;
    border-right: 1px solid #dadfe0;
}

table.lt-http-req-table tbody tr.lt-http-sel {
    background-color: #f3f3ff;
}

table.lt-http-req-table tbody tr.lt-http-sel:hover {
    background-color: #dfdff9;
}

table.lt-http-req-table td > span.lt-more-icon {
    float: left;
    font-size: 10px;
    color: #808080;
    margin-right: 2px;
}

table.lt-http-req-table td.lt-ws-open {
    color: #609e3a;
}

/* Task Table */

table.lt-task-table {
    width: 100%;
    height: 100%;

    border-collapse: separate;
    border-spacing: 2px;
}

table.lt-task-table th {
    text-align: left;
}

table.lt-task-table tr td {
    padding: 1px;
}

table.lt-task-table, table.lt-task-table tr td {
    overflow-wrap: normal;
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

table.lt-task-table tbody {
    display: block;
    height: calc(100% - 24px);
    overflow: auto;
    overflow-y: scroll;
    overflow-x: hidden;

    border-top: 1px solid #dadfe0;
}

table.lt-task-table thead, table.lt-task-table tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}

table.lt-task-table thead {
    width: calc(100% - 1em);
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

table.lt-task-table tbody tr {
    font-size: 13px;
    color: #000000;

    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

table.lt-task-table tbody tr:hover {
    /*cursor: pointer;*/
}

/*Name*/
table.lt-task-table th:nth-child(1), table.lt-task-table td:nth-child(1) {
    width: 20%;
}

/*App*/
table.lt-task-table th:nth-child(2), table.lt-task-table td:nth-child(2) {
    width: 20%;
}

/*User*/
table.lt-task-table th:nth-child(3), table.lt-task-table td:nth-child(3) {
    width: 10%;
}

/*Description*/
table.lt-task-table th:nth-child(4), table.lt-task-table td:nth-child(4) {
    width: 20%;
}

/*Time*/
table.lt-task-table td:nth-child(5) {
    width: 15%;
}

/*Progress*/
table.lt-task-table td:nth-child(6) {
    width: 15%;
}

/*Progress*/
table.lt-task-table th:nth-child(5) {
    width: 30%;
}

/* column alignments */
table.lt-task-table td:nth-child(1) {
    text-align: left;
}

table.lt-task-table td:nth-child(2) {
    text-align: left;
}

table.lt-task-table td:nth-child(3) {
    text-align: left;
}

table.lt-task-table td:nth-child(4) {
    text-align: left;
}

table.lt-task-table td:nth-child(5) {
    text-align: left;
}

table.lt-task-table td:nth-child(6) {
    text-align: left;
}

table.lt-task-table td:nth-child(7) {
    text-align: left;
}

table.lt-task-table td:nth-child(8) {
    text-align: left;
}

.lt-task-state {
    color: white;
    border-radius: 3px;
    text-align: center;
    text-transform: uppercase;
    padding: 1px 4px;
}

.horizontal .lt-progress-fill.lt-task-state-waiting {
    background-color: #f0ad4e;
    border-radius: 4px;
}

.horizontal .lt-progress-fill.lt-task-state-finished {
    background-color: #5cb85c;
    border-radius: 4px;
}

.horizontal .lt-progress-fill.lt-task-state-running {
    background-color: #337ab7;
    border-radius: 4px;
}

.horizontal .lt-progress-fill.lt-task-state-failed {
    background-color: #d9534f;
    border-radius: 4px;
}

.lt-progress-striped {
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    background-image: linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    -webkit-background-size: 40px 40px;
    background-size: 40px 40px
}

.lt-progress-striped.active {
    -webkit-animation: progress-bar-stripes 2s linear infinite;
    -o-animation: progress-bar-stripes 2s linear infinite;
    animation: progress-bar-stripes 2s linear infinite
}

@-webkit-keyframes progress-bar-stripes {
    from {
        background-position: 40px 0
    }

    to {
        background-position: 0 0
    }
}

@-o-keyframes progress-bar-stripes {
    from {
        background-position: 40px 0
    }

    to {
        background-position: 0 0
    }
}

@keyframes progress-bar-stripes {
    from {
        background-position: 40px 0
    }

    to {
        background-position: 0 0
    }
}

/* duration bar */
.horizontal .lt-progress-track {
    position: relative;
    width: 100%;
    height: 10px;
    background-color: #ebebeb;
}

.horizontal .lt-progress-fill {
    position: relative;
    background-color: #50a8f9;
    height: 10px;
    width: 50%;
    color: #fff;
    text-align: center;
    font-family: "Lato", "Verdana", sans-serif;
    font-size: 8px;
    line-height: 10px;
}

.horizontal .lt-progress-fill.fast {
    background-color: #71bf41;
}

.horizontal .lt-progress-fill.slow {
    background-color: #f0a234;
}

.horizontal .lt-progress-fill.slower {
    background-color: #c72808;
}

.horizontal .lt-progress-fill.level1 {
    background-color: #416aac;
}

.horizontal .lt-progress-fill.level2 {
    background-color: #292952;
}

.horizontal .lt-progress-fill.level3 {
    background-color: #123e3a;
}

.horizontal .lt-progress-fill.level4 {
    background-color: #331A48;
}

.horizontal .lt-progress-fill.level5 {
    background-color: #751829;
}

#timeToggle:hover, #taskTimeToggle:hover {
    cursor: pointer;
    color: white;
    background-color: #50a8f9;
}

/* Dashboard */

#dashboardTab {
    background-color: #f1f1f1;

    /* This gives the dashboard vertical scrolling */
    /* Scrolling of dashboard not working #33 */
    overflow-y: scroll;
}

.lt-dashboard-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 20px;
}

.lt-dashboard-row {
    flex: 1;
    display: flex;
    flex-direction: row;
    height: 100%;
    padding-bottom: 20px;
}

.lt-dashboard-col {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.lt-chart-container {
    width: 100%;
    height: 100%;
}

.lt-chart-title {
    margin-bottom: 10px;
    padding-left: 20px;
    top: 10px;
    position: relative;
}

.lt-info-title {
    margin-bottom: 10px;
    padding-left: 25px;
    padding-top: 10px;

    width: 90%;
    border-bottom: 2px solid #e5e5e5;
    align-self: center;
    padding-bottom: 5px;
}

.lt-info-container {
    margin-left: 20px;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.lt-chart-box {
    width: calc(100% - 40px);

    background-color: #FFFFFF;
    border: solid 2px #e5e5e5;
}

.lt-chart-box:nth-child(1) {
    margin-right: 20px;
}

.lt-chart-box:nth-child(2) {
    margin-left: 20px;
}

.lt-dashboard-col-info-container {
    background-color: #FFFFFF;
    border: solid 2px #e5e5e5;
}

.lt-info-container dl {
    padding: 0.5em;
}

.lt-info-container dt {
    float: left;
    clear: left;
    width: 120px;
    text-align: left;
    font-weight: bold;
    color: #4c4c4c;
}

.lt-info-container dt::after {
    content: ":";
}

.lt-info-container dd {
    margin: 0 0 0 130px;
    padding: 0 0 0.5em 0;
}

.lt-cluster-state-yellow {
    color: #f0a234;
}

.lt-cluster-state-green {
    color: #3e9409;
}

.lt-cluster-state-red {
    color: #c72808;
}

.lt-modal-card {
    background: #fff;
    border-radius: 5px;
    width: 640px;
    position: relative;
    opacity: .90;
    transition: all 2s ease-in-out;
    max-height: calc(100vh - 40px);
    flex-direction: column;
    overflow: hidden;
    display: flex;
}

.lt-modal-card-body {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.lt-modal-card-header {
    display: flex;
    padding: 20px;
    border-bottom: 1px solid #b5bbbf;
    align-items: center;
    background-color: #f5f5f5;
    flex-shrink: 0;
}

.lt-modal-card-foot {
    display: flex;
    padding: 20px;
    justify-content: flex-end;
    align-items: center;
}

.lt-upload-button {
    background-color: #337ab7;
}

.lt-upload-button:hover {
    background-color: #3389c6;
}

.lt-cancel-button {
    background-color: #999999;
    margin-left: 20px;
}

.lt-cancel-button:hover {
    background-color: #a7a7a7;
}

#invalidLicenseMessage {
    color: #a94442;
}
